<h1>アカウント情報編集</h1>
<i><%= image_tag "#{@user.image}", :size =>'150x150' %></i>

<%= render 'form', user: @user %>

<div class="link-block">
<%= link_to '戻る', @user, :style=>"font-size:32px; font-weight:bold;" %> |
</div>
