<div class="user-wrapper">
  <div class="user-icon">


  </div>
  <div class="user-information">
    <h1><%= @user.name %>のページ</h1>
    <p>メールアドレス: <%= @user.email %></p>
    <<textarea rows="8" cols="80">コメント: <%= @user.content %></textarea>
    <div class="edit-tag">

    </div>
  </div>
</div>
<div class="user-section">
  <div class="">

  </div>

</div>
