<div class="user-wrapper">
  <div class="user-icon">


  </div>
  <div class="user-information">
    <h1><%= @user.name %>のページ</h1>
    <p>メールアドレス: <%= @user.email %></p>
    <p>コメント: <%= @user.content %></p>
    <div class="edit-tag">
      <button type="button" class="btn btn-success btn-md">
      </button>
    </div>
  </div>
</div>
<div class="user-section">
  <div class="">

  </div>

</div>
